<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../static/output.css" rel="stylesheet" />
  </head>
  <div class="bg-white">
    <div class="flex justify-center flex-col items-center m-10">
      <div
        class="w-72 h-72 rounded-full overflow-hidden border-2 border-primary p-8"
      >
        <img
          src="/static/img/logo-color.svg"
          alt="logo"
          class="border-primary"
        />
      </div>

      <div>
        <h1 class="font-bold text-2xl text-center font-roboto text-primary">
          WeCare : Enhancing Your Health
        </h1>
      </div>

      <div class="grid lg:w-[50%] w-full lg:grid-cols-2 lg:gap-20 gap-5 grid-cols-1 justify-between mt-20 items-center ">
        <div class="p-5 flex rounded-md justify-center items-center flex-col gap-3 bg-blue_300 hover:scale-110 transition-all relative">
          <div class="">
            <img src="/static/img/phone.svg" alt="phone" class="w-32 h-32">
          </div>
          <div class="w-full flex justify-center">
            <p class="font-bold">Login Using Phone</p>
          </div>
        </div>

        <div class="p-5 flex rounded-md justify-center items-center flex-col gap-3 bg-blue_300 hover:scale-110 transition-all relative">
          <div class="">
            <img src="/static/img/id.svg" alt="phone" class="w-32 h-32">
          </div>
          <div class="w-full flex justify-center">
            <p class="font-bold">Login Using ID</p>
          </div>
        </div>
    </div>


    </div>
  </body>
</html>
