<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link href="/static/output.css" rel="stylesheet" />


    <title>Patient Symptoms</title>
  </head>
  <body class="bg-white font-sans">
    <div class="container mx-auto p-4">
      <!-- Circular Avatar and Heading on the Same Row (Aligned to the Right) -->
      <div class="flex items-center justify-end mb-4">
        <!-- Heading -->
        <h5 class="font-bold mr-4">
          Welcome Dear Patient, We wish you fast recovery
        </h5>
        <!-- Circular Avatar -->
        <div class="w-16 h-16 rounded-full overflow-hidden bg-gray-300">
          <img
            src="https://placekitten.com/200/200"
            alt="Avatar"
            class="object-cover w-full h-full"
          />
        </div>
      </div>

      <div
        class="mt-10 grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-10 justify-center items-center"
      >
<!--row 1-->
      <div class=" rounded-md border border-gray-200">
        <div class="">
          <img src="/static/img/flu.jpg" alt="image" />
        </div>

        <div class="flex flex-col py-3 bg-gray-100 justify-center items-center gap-5">
          <!--low-->
          <div>
            <p class="font-bold text-lg text-primary">Flu</p>
          </div>
          <div class="flex justify-center items-center gap-5 w-full">
          <div
            class="p-5  hover:scale-110 transition-all cursor-pointer w-5 h-5 flex border rounded-full bg-green justify-center items-center"
          >
            L
          </div>
        

          <!--medium-->
          <div
            class="p-5 w-5  hover:scale-110 transition-all cursor-pointer h-5 flex border rounded-full bg-yellow justify-center items-center"
          >
            M
          </div>

          <!--high-->
          <div
            class="p-5 w-5  hover:scale-110 transition-all cursor-pointer h-5 flex border rounded-full bg-red justify-center items-center"
          >
            H
          </div>
        </div>
        </div>
      </div>

<!--row 2-->
      <div class="border border-gray-200 rounded-md">
        <div class="">
          <img src="/static/img/dizzy.jpg" alt="image" />
        </div>
        <div class="flex flex-col py-3 bg-gray-100 justify-center items-center gap-5">
          <div>
            <p class="font-bold text-lg text-primary">Headache</p>
          </div>

          <div class="flex justify-center items-center gap-5 w-full">
          <!--low-->
          <div
            class="p-5  hover:scale-110 transition-all cursor-pointer w-5 h-5 flex border rounded-full bg-green justify-center items-center"
          >
            L
          </div>

          <!--medium-->
          <div
            class="p-5 w-5  hover:scale-110 transition-all cursor-pointer h-5 flex border rounded-full bg-yellow justify-center items-center"
          >
            M
          </div>

          <!--high-->
          <div
            class="p-5 w-5  hover:scale-110 transition-all cursor-pointer h-5 flex border rounded-full bg-red justify-center items-center"
          >
            H
          </div>
          <div>
        </div>
      </div>
</div>
</div>


<!--row 3-->
<div class="border border-gray-200 rounded-md">
  <div class="">
    <img src="/static/img/Fever.jpg" alt="image" />
  </div>
  <div class="flex flex-col py-3 bg-gray-100 justify-center items-center gap-5">
    <div>
      <p class="font-bold text-lg text-primary">Fever</p>
    </div>

    <div class="flex justify-center items-center gap-5 w-full">
    <!--low-->
    <div
      class="p-5  hover:scale-110 transition-all cursor-pointer w-5 h-5 flex border rounded-full bg-green justify-center items-center"
    >
      L
    </div>

    <!--medium-->
    <div
      class="p-5 w-5  hover:scale-110 transition-all cursor-pointer h-5 flex border rounded-full bg-yellow justify-center items-center"
    >
      M
    </div>

    <!--high-->
    <div
      class="p-5 w-5  hover:scale-110 transition-all cursor-pointer h-5 flex border rounded-full bg-red justify-center items-center"
    >
      H
    </div>
    <div>
  </div>
</div>
</div>
</div>


<!--row 4-->
<div class="border border-gray-200 rounded-md">
  <div class="">
    <img src="/static/img/blood.jpg" alt="image" />
  </div>
  <div class="flex flex-col py-3 bg-gray-100 justify-center items-center gap-5">
    <div>
      <p class="font-bold text-lg text-primary">Blood Sugar</p>
    </div>

    <div class="flex justify-center items-center gap-5 w-full">
    <!--low-->
    <div
      class="p-5  hover:scale-110 transition-all cursor-pointer w-5 h-5 flex border rounded-full bg-green justify-center items-center"
    >
      L
    </div>

    <!--medium-->
    <div
      class="p-5 w-5  hover:scale-110 transition-all cursor-pointer h-5 flex border rounded-full bg-yellow justify-center items-center"
    >
      M
    </div>

    <!--high-->
    <div
      class="p-5 w-5  hover:scale-110 transition-all cursor-pointer h-5 flex border rounded-full bg-red justify-center items-center"
    >
      H
    </div>
    <div>
  </div>
</div>
</div>
</div>


<!--row 5-->
<div class="border border-gray-200 rounded-md">
  <div class="">
    <img src="/static/img/pressure.jpg" alt="image" />
  </div>
  <div class="flex flex-col py-3 bg-gray-100 justify-center items-center gap-5">
    <div>
      <p class="font-bold text-lg text-primary">Blood Pressure</p>
    </div>

    <div class="flex justify-center items-center gap-5 w-full">
    <!--low-->
    <div
      class="p-5  hover:scale-110 transition-all cursor-pointer w-5 h-5 flex border rounded-full bg-green justify-center items-center"
    >
      L
    </div>

    <!--medium-->
    <div
      class="p-5 w-5  hover:scale-110 transition-all cursor-pointer h-5 flex border rounded-full bg-yellow justify-center items-center"
    >
      M
    </div>

    <!--high-->
    <div
      class="p-5 w-5  hover:scale-110 transition-all cursor-pointer h-5 flex border rounded-full bg-red justify-center items-center"
    >
      H
    </div>
    <div>
  </div>
</div>
</div>
</div>


<!--row 5-->
<div class="border border-gray-200 rounded-md">
  <div class="">
    <img src="https://hips.hearstapps.com/hmg-prod/images/midsection-of-man-touching-breast-while-standing-at-royalty-free-image-953142668-1548956429.jpg?resize=640:*" alt="image" />
  </div>
  <div class="flex flex-col py-3 bg-gray-100 justify-center items-center gap-5">
    <div>
      <p class="font-bold text-lg text-primary">Heart Pain</p>
    </div>

    <div class="flex justify-center items-center gap-5 w-full">
    <!--low-->
    <div
      class="p-5  hover:scale-110 transition-all cursor-pointer w-5 h-5 flex border rounded-full bg-green justify-center items-center"
    >
      L
    </div>

    <!--medium-->
    <div
      class="p-5 w-5  hover:scale-110 transition-all cursor-pointer h-5 flex border rounded-full bg-yellow justify-center items-center"
    >
      M
    </div>

    <!--high-->
    <div
      class="p-5 w-5  hover:scale-110 transition-all cursor-pointer h-5 flex border rounded-full bg-red justify-center items-center"
    >
      H
    </div>
    <div>
  </div>
</div>
</div>
</div>


<!--row 5-->
<div class="border border-gray-200 rounded-md">
  <div class="">
    <img src="https://d3b3by4navws1f.cloudfront.net/000036380730.jpg" alt="image" />
  </div>
  <div class="flex flex-col py-3 bg-gray-100 justify-center items-center gap-5">
    <div>
      <p class="font-bold text-lg text-primary">Vision Rate</p>
    </div>

    <div class="flex justify-center items-center gap-5 w-full">
    <!--low-->
    <div
      class="p-5  hover:scale-110 transition-all cursor-pointer w-5 h-5 flex border rounded-full bg-green justify-center items-center"
    >
      L
    </div>

    <!--medium-->
    <div
      class="p-5 w-5  hover:scale-110 transition-all cursor-pointer h-5 flex border rounded-full bg-yellow justify-center items-center"
    >
      M
    </div>

    <!--high-->
    <div
      class="p-5 w-5  hover:scale-110 transition-all cursor-pointer h-5 flex border rounded-full bg-red justify-center items-center"
    >
      H
    </div>
    <div>
  </div>
</div>
</div>
</div>


<!--row 6-->
<div class="border border-gray-200 rounded-md">
  <div class="">
    <img src="/static/img/feet.jpg" alt="image" />
  </div>
  <div class="flex flex-col py-3 bg-gray-100 justify-center items-center gap-5">
    <div>
      <p class="font-bold text-lg text-primary">Bone Break</p>
    </div>

    <div class="flex justify-center items-center gap-5 w-full">
    <!--low-->
    <div
      class="p-5  hover:scale-110 transition-all cursor-pointer w-5 h-5 flex border rounded-full bg-green justify-center items-center"
    >
      L
    </div>

    <!--medium-->
    <div
      class="p-5 w-5  hover:scale-110 transition-all cursor-pointer h-5 flex border rounded-full bg-yellow justify-center items-center"
    >
      M
    </div>

    <!--high-->
    <div
      class="p-5 w-5  hover:scale-110 transition-all cursor-pointer h-5 flex border rounded-full bg-red justify-center items-center"
    >
      H
    </div>
    <div>
  </div>
</div>
</div>
</div>

  </body>
</html>
