<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/output.css" rel="stylesheet" />
    <title>Analyze Data</title>
  </head>
  <body>
    <div class="container mx-auto p-4">
      <!-- Circular Avatar and Heading on the Same Row (Aligned to the Right) -->
      <div class="flex items-center justify-end mb-4">
        <!-- Heading -->
        <h5 class="font-bold mr-4">Welcome Sara</h5>
        <!-- Circular Avatar -->
        <div class="w-16 h-16 rounded-full overflow-hidden bg-gray-300">
          <img
            src="https://placekitten.com/200/200"
            alt="Avatar"
            class="object-cover w-full h-full"
          />
        </div>
      </div>
    </div>

    <div
      class="grid w-full p-10 lg:grid-cols-3 md:grid-cols-2 lg:gap-20 gap-5 grid-cols-1 justify-between mt-14 items-center"
    >
      <div
        class="p-5 cursor-pointer flex rounded-md justify-center items-center flex-col gap-3 bg-blue_300 hover:scale-110 transition-all relative"
      >
        <div class="">
          <img src="/static/img/analyze.svg" alt="phone" class="w-32 h-32" />
        </div>
        <div class="text-center flex w-1/2 justify-center">
          <p class="font-bold">
            Analyzing The most common illness amongst the patients
          </p>
        </div>
      </div>

      <div
        class="p-5 cursor-pointer flex rounded-md justify-center items-center flex-col gap-3 bg-blue_300 hover:scale-110 transition-all relative"
      >
        <div class="">
          <img src="/static/img/analyze.svg" alt="phone" class="w-32 h-32" />
        </div>
        <div class="w-1/2 text-center flex justify-center">
          <p class="font-bold">Analyzing Illness based on Gender</p>
        </div>
      </div>

      <div
        class="p-5 cursor-pointer flex rounded-md justify-center items-center flex-col gap-3 bg-blue_300 hover:scale-110 transition-all relative"
      >
        <div class="">
          <img src="/static/img/analyze.svg" alt="phone" class="w-32 h-32" />
        </div>
        <div class="w-1/2 text-center flex justify-center">
          <p class="font-bold">Analyzing ilness based on location</p>
          <p>
            The predicted value for X_new = 0.8 is: {{ predicted_location }}
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
