<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Common Illness Analysis</title>
    <link href="/static/output.css" rel="stylesheet" />
  </head>

  <body class="bg-gray-100">
    <div class="container mx-auto mt-4 p-4">
      <h1 class="text-3xl font-bold mb-4 text-blue-700">
        Common Illness Analysis
      </h1>

      <h2 class="text-xl font-bold mb-2">
        Most Common Illness: {{ most_common_illness }} Based on Gender
      </h2>

      <!-- Display symptoms and related illnesses -->
      <div class="border p-4 mb-4 bg-white rounded">
        <h3 class="text-lg font-bold mb-2">Symptoms and Related Illnesses:</h3>
        <ul class="list-disc ml-4">
          {% for index, row in most_common_illness_by_gender.iterrows() %}
          <li>
            <span class="font-bold">Gender:</span> {{ row['Gender'] }}<br />
            <span class="font-bold">Illness:</span> {{ row['Illness'] }}<br />
            <span class="font-bold">Count:</span> {{ row['count'] }}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="text-center flex mt-4 w-full justify-center">
        <a
          class="font-bold border p-4 bg-primary rounded-md w-12 p-4 text-white"
          href="/admin/analyze_data"
        >
          Analyzing The most common illness amongst the patients
        </a>
      </div>
    </div>
  </body>
</html>
