<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/static/output.css" rel="stylesheet" />
    <title>Common Illness Report</title>
  </head>
  <body class="font-sans bg-gray-100 p-4">
    <div
      class="max-w-3xl mx-auto bg-white rounded-md p-6 shadow-md mt-8 p-4 mx-4"
    >
      <h1 class="text-2xl font-bold mb-4">Common Illness Report</h1>

      <!-- Display most common illness information -->
      {% if most_common_illness_info %}
      <div>
        <h2 class="text-xl font-bold mb-2">Most Common Illness:</h2>
        <p>
          <strong>Illness:</strong> {{ most_common_illness_info.illness |
          default('-') }}
        </p>
        <p>
          <strong>Symptoms:</strong> {{ most_common_illness_info.symptoms |
          default('-') }}
        </p>
        <p>
          <strong>Visited Doctors:</strong> {{
          most_common_illness_info.visited_doctors | default('-') }}
        </p>
      </div>
      {% else %}
      <p>No data available.</p>
      {% endif %}
    </div>
    <div class="text-center flex mt-4 justify-center">
      <a
        class="font-bold border p- bg-primary rounded-md w-12 p-4 text-white"
        href="/admin/analyze_data"
      >
        Analyzing The most common illness amongst the patients
      </a>
    </div>
  </body>
</html>
