<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/output.css" rel="stylesheet" />
    <title>Availability</title>
  </head>
  <body>
    <div class="container mx-auto p-4">
      <!-- Circular Avatar and Heading on the Same Row (Aligned to the Right) -->
      <div class="flex items-center justify-end mb-4">
        <!-- Heading -->
        <h5 class="font-bold mr-4">Welcome Sara</h5>
        <!-- Circular Avatar -->
        <div class="w-16 h-16 rounded-full overflow-hidden bg-gray-300">
          <img
            src="https://placekitten.com/200/200"
            alt="Avatar"
            class="object-cover w-full h-full"
          />
        </div>
      </div>
    </div>

    <div class="w-full flex justify-center items-center">
      <div class="bg-blue-200 lg:w-[50%] h-full w-full p-10 rounded-md">
        <div class="flex flex-col gap-10 h-full items-center">
          <div class="w-full flex justify-center">
            <label
              for="patient_covid"
              class="text-xl font-semibold text-center text-black"
              >SELECT THE AVAILABLE DOCTORS FOR TODAY</label
            >
          </div>
          <div>
            <input type="checkbox" id="sara" name="doctor[]" value="sara" />
            <label for="sara">Dr. Sara Zuhair Khudher</label><br />

            <input type="checkbox" id="sima" name="doctor[]" value="sima" />
            <label for="sima">Dr. Sima Jazaa</label><br />

            <input type="checkbox" id="diako" name="doctor[]" value="diako" />
            <label for="diako">Dr. Diako Kaso</label><br />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
